* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-width: 320px;
    max-width: 640px;
    margin: auto;
}

h1, h2, h3 {
    text-align: center;
}

h3 {
    color: #1e40af;
    text-transform: uppercase;
    font-size: 1.5em;
}
#container {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(12, 40px);
    grid-template-rows: repeat(12, 40px);
}

.celulas {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

.escolhida {
    background-color: #fde047;
}

.encontrada {
    background-color: #22c55e;
}

#reiniciar {
    width: 160px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #38bdf8;
    color: #FFF;
    font-size: 1.2em;
}

#reiniciar:active {
    background-color: #0284c7;
}


footer p {
    text-align: center;
}